<html lang="en">
  <head>
    <title>betPawa - Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="headerh1">bet<span class="headerspan">Pawa</span></h1>
      </div>
      <div class="form-container">
        <h2>Welcome back!</h2>
        <p>Enter your credentials to Log in</p>
      </div>
      <form action="/auth/login" method="POST">
        <input type="text" id="Username" placeholder="Username" name="username" required />
        <input type="password" id="Password" placeholder="Password" name="password" required />
        <div class="checkbox-container">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Remember me</label>
        </div>
        <button type="submit">Log In</button>
        <p style="font-size: small;">
          Don't have an account?<a href="/register" class="log-in"> Sign Up </a>
        </p>
      </form>
      <div class="error-message">
        {{#if message}}
          <h4>{{message}}</h4>
        {{/if}}
    </div>
  </body>
</html>