<html lang="en">
  <head>
    <title>Employee Home page</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <div class="logo">
          <h1>time<span style="color: #9CE800;">Pawa</span></h1>
        </div>
        <nav>
          <ul>
            <li id="home-link"><a href="/home">Home</a></li>
            <li id="breaks-link"><a href="/breaks">My Breaks</a></li>
            <li id="swaps-link"><a href="#">Swaps</a></li>
            <li id="schedule-link"><a href="/schedule">Schedule</a></li>
            <li id="agents-link"><a href="#">On Break</a></li>
          </ul>
        </nav>
      </aside>
      <main>
        <header class="top-bar">
          <p>Welcome <strong>{{username}}</strong></p>
          <div class="profile">
            <div class="profile-pic"><img
                src="profile.png"
                alt="Profile picture"
              /></div>
            <p>{{username}}</p>
          </div>
        </header>
        <section class="request-break">
          <h2>Request a break that suits your need!</h2>
          <a href="schedule.html">Request break</a>
        </section>

        <section class="upcoming-breaks">
          <h3>Upcoming Breaks</h3>
          <div class="break-list">
            <div class="break-box">
              <p>Monday</p>
              <p><strong>9:30 AM - 9:45 AM</strong></p>
            </div>
            <div class="break-box">
              <p>Monday</p>
              <p><strong>1:30 PM - 2:00 PM</strong></p>
            </div>
            <div class="break-box">
              <p>Monday</p>
              <p><strong>5:15 PM - 5:30 PM</strong></p>
            </div>
          </div>
        </section>

        <section class="activity">
          <h3>Activity</h3>
          <ul>
            <li>Muhirwa has requested for a swap.</li>
            <li>Your break has been approved.</li>
            <li>Muvunyi has approved your swap request.</li>
          </ul>
        </section>
      </main>

      <script>
        const currentPath = window.location.pathname;
        document.querySelectorAll('nav li').forEach((item) => {
        item.classList.remove('active'); }); if
        (currentPath.includes("home.html")) {
        document.getElementById("home-link").classList.add("active"); } else if
        (currentPath.includes("breaks.html")) {
        document.getElementById("breaks-link").classList.add("active"); } else
        if (currentPath.includes("schedule.html")) {
        document.getElementById("schedule-link").classList.add("active"); }
      </script>
    </div>
  </body>
</html>