<html lang="en">
  <head>
    <title>betPawa - Create Account</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="headerh1">bet<span class="headerspan">Pawa</span></h1>
      </div>
      <div class="form-container">
        <h2>Create account</h2>
        <p>Enter your credentials to sign up</p>
      </div>
      <form action="/auth/register" method="POST">
        <input
          type="text"
          id="Username"
          placeholder="Username"
          name="name"
          required
        />
        <input
          type="email"
          id="Email"
          placeholder="Email Address"
          name="email"
          required
        />
        <input
          type="password"
          id="Password"
          placeholder="Password"
          name="password"
          required
        />
        <button type="submit">Register</button>
        <p style="font-size: small;">
          Already have an account?<a href="/login" class="log-in"> Log In </a>
        </p>
      </form>
    </div>
  </body>
</html>