* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, sans-serif;
    background-color: #ffffff;
}
.container{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: #091106;
    color: #fff;
    width: 250px;
    padding: 20px;
}
.logo h1{

    font-size: 28px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}
nav ul {
    list-style: none;
    padding: 30px;
    
}
nav li{
    margin: 20px 0;
}
nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
nav li.active a{
    background-color: #ffffff1e;
    padding: 8px 7px;
    border-radius: 5px;
    display: block;
}
nav li a:hover{
    background-color: #ffffff1e;
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;

}
main{
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    width: calc(100% + 40px);
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}
.top-bar h2{
    color: #222;
}
.profile{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile-pic{
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 6px;
}
.profile-pic img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 50%;
}
.break-schedule{
    padding: 2px;
}
.break-box{
    display: flex;
    gap: 50px;
    padding: 10px 5px;
    justify-content: space-between;
}
.break-box div{
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    flex: 1;
    font-size: 13px;

}
.no-break{
    text-align: center;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: space-between;

}
.no-break div{
    width: 30.50%;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;

}