* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: inter, sans-serif;
    background-color: #ffffff;
}
.container{
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: #091106;
    color: #fff;
    width: 250px;
    padding: 20px;
}
.logo h1{

    font-size: 28px;
    font-style: italic;
    margin-bottom: 20px;
    padding-left: 15px;
}
.bottom-logo{
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
    text-align: right;
    margin-top: 70px;
    
}
nav ul {
    list-style: none;
    padding: 15px;
    
}
nav li{
    margin: 20px 0;
}
nav li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
nav li.active a{
    background-color: #ffffff1e;
    padding: 8px 6px;
    border-radius: 7px;
    display: block;
    text-align: left;
    width: 110%;
}
nav ul li a:hover{
    background-color: #ffffff1e;
    padding: 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;

}
i{
    margin-right: 10px;
}
.main-container{
    flex-grow: 1;
    padding: 20px;
    background-color: #f2f2f2;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    background-color: #fff;
    padding: 20px;
    width: calc(100% + 40px);
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;

}
.header h3{
    color: #222;
    font-size: 20px;
    font-weight: 500;
}

.profile{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: inter,sans-serif;
}
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    margin-right: 6px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.form-card{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 100%;
    text-align: center;
    align-items: center;

}
.form-card h3{
    color: #333;
    margin-bottom: 20px;
    font-size: 18px;
    
}
.date-time{
    color: #222;
    text-align: left;
    margin-bottom: 7px;
    font-size: 16px;
}
.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.input-group{
    display: flex;
    flex-direction: column;
    width: 49%;
    text-align: left;
}
.input-group label{
    font-size: 12px;
    margin-bottom: 5px;
}
.form-card input{
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 90%;
}
input[type="date"]{
    text-transform: uppercase;
}
input[type="text"]{
    text-transform: none;
    padding: 10px 35px 35px 10px;
    width: 95%;
    margin-left: -17px;
}
button{
  width: 100%;
  padding: 10px;
  background-color: #9ce800;
  color: #000;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: inter,sans-serif;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.7s ease;
}
button:hover{
    background-color: #000;
    color: #9ce800;
}